<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{ 'STOP.NOTES' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card class="m-3">
    <ion-card-content class="p-0"> -->
  <!-- <ion-item lines="none"> -->
  <div class="m-5">
    {{ note1 }}<br>{{ note2 }}
  </div>
  <!-- </ion-item>
    </ion-card-content> -->
  <!-- </ion-card> -->
</ion-content>
