<ion-tabs>
  <!-- <ion-tab-bar slot="top" color="primary">
    <ion-tab-button tab="routes">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>{{'COMMON.SERVICES' |translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="map" [disabled]="!routeId">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>{{'TAB.MAP' |translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="stop-list" [disabled]="!routeId">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>{{'TAB.STOPS' |translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar> -->
</ion-tabs>